@charset "utf-8";

body {
    background: url('../img/bg.png');
}

.has-warning input, .has-warning textarea {
    color: #8a6d3b
}

.expanding-wrapper {
    margin-top: 49px;
}

textarea.expanding {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.app-header {
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#cars-list a.list-group-item {
    text-align: center;
    padding: 10px 5px;
}

#car-details {
    margin-bottom: 20px;
}

#car-repairs .icons {
    font-size: 18px;
}

#car-repairs .icons .glyphicon {
    width: 1.3em;
    cursor: pointer;
    color: #666;
}

#car-repairs .icons .glyphicon:hover {
    color: #444;
}

#car-repairs .icons .glyphicon-plus {
    width: 1.3em;
    cursor: pointer;
    color: #428bca;
}

#car-repairs .icons .glyphicon-plus:hover {
    color: #3276b1;
}

#car-repairs article {
    max-height: 550px;
    transition: max-height 0.75s ease;
    overflow: hidden;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 10px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    clear: both;
}

#car-repairs article textarea {
    max-height: 425px;
    clear: both;
}

#car-repairs article:first-child {
    margin-top: 0;
}

#car-repairs article.closed {
    max-height: 55px;
    transition: max-height 0.35s ease;
    cursor: pointer;
}

#car-repairs article.closed input, #car-repairs article.closed label {
    cursor: pointer;
}

#car-repairs article button.close {
    margin-top: 5px;
}

.head-group .repair-date {
    width: 100px;
}

.head-group .mileage {
    width: 85px;
}

.head-group label {
    padding-top: 6px;
    padding-right: 10px;
}

.head-group .mileage-label {
    padding-left: 10px;
}

.head-group input, .head-group label {
    float: left;
}

.row {
    margin-top: 20px;
}

.row.header {
    padding: 0 15px;
}


/* ====================== preloader styles start ===================== */

#fadingBarsG{
    position:relative;
    width:120px;
    height:15px;
    margin: 40px auto;
}

.fadingBarsG{
    position:absolute;
    top:0;
    background-color:#8C8C8C;
    width:15px;
    height:15px;
    -moz-animation-name:bounce_fadingBarsG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -webkit-animation-name:bounce_fadingBarsG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -o-animation-name:bounce_fadingBarsG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    -ms-animation-name:bounce_fadingBarsG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    animation-name:bounce_fadingBarsG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
}

#fadingBarsG_1{
    left:0;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    animation-delay:0.52s;
}

#fadingBarsG_2{
    left:15px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    animation-delay:0.65s;
}

#fadingBarsG_3{
    left:30px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    animation-delay:0.78s;
}

#fadingBarsG_4{
    left:45px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    animation-delay:0.91s;
}

#fadingBarsG_5{
    left:60px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    animation-delay:1.04s;
}

#fadingBarsG_6{
    left:75px;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    animation-delay:1.17s;
}

#fadingBarsG_7{
    left:90px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    animation-delay:1.3s;
}

#fadingBarsG_8{
    left:105px;
    -moz-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -o-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    animation-delay:1.43s;
}

@-moz-keyframes bounce_fadingBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:#8C8C8C;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-webkit-keyframes bounce_fadingBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:#8C8C8C;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-o-keyframes bounce_fadingBarsG{
    0%{
        -o-transform:scale(1);
        background-color:#8C8C8C;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@-ms-keyframes bounce_fadingBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:#8C8C8C;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:#FFFFFF;
    }

}

@keyframes bounce_fadingBarsG{
    0%{
        transform:scale(1);
        background-color:#8C8C8C;
    }

    100%{
        transform:scale(.3);
        background-color:#FFFFFF;
    }

}

/* ====================== preloader styles end ===================== */