<div class="form-group head-group pull-left">
    <label class="control-label repair-date-label">TRN.date:</label>
    <input class="repair-date form-control" type="text" value="<%= date %>" disabled="disabled" />
</div>
<div class="form-group head-group">
    <label class="control-label mileage-label">TRN.mileage:</label>
    <input class="mileage form-control" type="text" value="<%= mileage %>" maxlength="7" disabled="disabled"/>
</div>
<div class="form-group">
    <textarea rows="4" class="details form-control" disabled="disabled"><%= details %></textarea>
</div>
<div class="form-group">
    <button class="save btn btn-primary" disabled="disabled">TRN.update</button>
    <button class="delete btn btn-warning" disabled="disabled">TRN.del</button>
    <button class="close" disabled="disabled"><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>