<label>TRN.repairs:</label>
<span class="icons pull-right">
    <span id="add-repair" class="glyphicon glyphicon-plus"></span>
    <span class="glyphicon glyphicon-resize-small"></span>
    <span class="glyphicon glyphicon-resize-full"></span>
</span>
<section class="list">
</section>