<div class="form-group">
    <label for="reg">TRN.reg_num:</label>
    <input id="reg" class="form-control" type="text" maxlength="10" value="<%= reg %>"/>
</div>
<div class="form-group">
    <label for="make">TRN.make:</label>
    <input id="make" class="form-control" type="text" maxlength="20" value="<%= make %>"/>
</div>
<div class="form-group">
    <label for="model">TRN.model:</label>
    <input id="model" class="form-control" type="text" maxlength="40" value="<%= model %>"/>
</div>
<div class="form-group">
    <label for="prodyear">TRN.prod_year:</label>
    <input id="prodyear" class="form-control" type="text" maxlength="4" value="<%= prodyear %>"/>
</div>
<div class="form-group">
    <label for="power">TRN.power:</label>
    <input id="power" class="form-control" type="text" maxlength="10" value="<%= power %>"/>
</div>
<div class="form-group">
    <label for="vin">TRN.vin:</label>
    <input id="vin" class="form-control" type="text" maxlength="20" value="<%= vin %>"/>
</div>
<div class="form-group">
    <label for="vin">TRN.inspection:</label>
    <input id="inspection" class="form-control" type="text" maxlength="20" value="<%= inspection %>"/>
</div>
<div class="form-group">
    <label for="vin">TRN.insurance:</label>
    <input id="insurance" class="form-control" type="text" maxlength="20" value="<%= insurance %>"/>
</div>
<button id="save" class="btn btn-primary">TRN.save</button>
<button id="delete" class="btn btn-warning">TRN.del</button>